body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #1F2937;
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
    
}
header h1{
    flex-shrink: 0;
    margin-left: 25rem;
    padding-top: 2rem;
    
}
nav{
    width: 100vw;
    margin-right: 25rem;
}
ul.links{
    display: flex;
    justify-content: flex-end;
    gap:2rem;
    padding-top: 2rem;
}
ul.images{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 4.5rem;
    padding-bottom: 10rem;
    padding-top: 4.5rem;
}
ul.images li{
    display: flex;
    flex-direction: column;
    width: 16rem;
    height:16rem; 
}
ul.images li p{
    font-size: 1.8rem;
}
.container{
    background-color: #1F2937;
    padding-block: 15rem;
    padding-inline: 25rem;
    display: flex;
}
div.left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40rem;
    height: 20rem;
    margin-right: 10rem;
}
.container h1{
    font-size: 4.8rem  ;
    font-weight: 900;
    color: #F9FAF8;
}
.container p, ul.links li{
    font-size: 1.8rem  ;
    color: #E5E7EB;
}
header h1{
    font-size:2.4rem ;
    color: #F9FAF8;
}
button , .call{
    background-color: #3882F6;
}
.bouton1{
    width: 10rem;
    height: 3.6rem;
    border: 0px;
    border-radius: 0.3rem;
    color: #E5E7EB;
    font-weight: 900;
    font-size: 1.6rem;
}
.info{
    font-size: 3.6rem ;
    font-weight: 900;
    color:#1F2937;
    text-align: center;
    padding-top: 4.5rem;
}
blockquote{
    background-color: #E5E7EB;
    
    color: #1F2937;
    padding-block: 15rem;
    padding-inline: 30rem;
    display: flex;
    flex-direction: column;
}
blockquote p.quote{
    font-size: 3.6rem ;
    font-style:italic;
    font-weight: 300;
}
img{
    width: 35vw;
    height: 30vh;
}
img.carre{
    width: 15rem;
    height:15rem;
    border-radius: 1.5rem;
    color: #3882F6 ;
    border: 0.5rem solid;
    margin-bottom: 1rem;
    
}
footer{
    background-color: #1F2937;
}
.Thor{
    padding-top: 2rem;
    align-self: flex-end;
    padding-right:10rem;
    font-weight: 900;
    font-size: 2.4rem;
}
section.Call-container{
    background-color:#3882F6;
    margin-inline: 20rem;
    margin-block: 10rem;
    border-radius: 1rem;
}
.call{
    margin-inline: 10rem;
    margin-block: 5rem;
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
    color: #F9FAF8;
    height: 20rem;
    align-items: center;
    gap: 5rem;
    
}
.call h2{
    font-weight: 600;
}
.call-left h2{
    padding-bottom: 1rem;
}
.call p{
    font-weight: 300;
    
}
.bouton2{
    width: 10rem;
    height: 2.8rem;
    border: 0.2rem solid;
    border-radius: 0.5rem;
    color: #E5E7EB;
    font-size: 1.6rem;
}
footer p{
    font-size: 1.8rem;
    color: #E5E7EB;
    font-weight: 400;
    text-align: center;
    padding-block: 3rem;
}