.header{
    background-image: url(../img/HeaderImage2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    &__title{
        font-family: 'PPFragment', sans-serif;
        font-size: 4.2rem;
        text-align: center;
        padding-top: 20vh;
        color: $fondAgence;
        text-transform: uppercase;
    }
    &__links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1.6rem;
        height: 10vh;
        align-items: center;
    }
    &__link a:hover{
        text-decoration: underline;
        //font-weight: 700;
    }
}