.projets{
    background-color: $fondEquipage;
    @include padding;
    &__title{
        @include title;
        color: $fondAgence;
    }
    &__links{
        margin-block: 2rem;
        border-top: $cardBleu 1px solid;
        border-bottom: $cardBleu 1px solid;
    }
    &__link{
        border-left: $cardBleu 1px solid;
        border-right: $cardBleu 1px solid;
        padding-block: 2rem;
        padding-inline: 1.5rem;
        border-bottom: $cardBleu 1px solid;
        color: $fondAgence;
        &:last-child{
            border-bottom: none;
        }
        &:hover{
            background-color: $cardBleu;

            & a{
                color: black;
            }
        }
    }
}