@font-face {
	font-family: 'PPFragment';
	    src: url(‘/fonts/PPFragment-GlareRegular.woff2’) format(‘woff2’);
    font-family :'PPFraktion';
        src: url(‘/fonts/PPFraktionSans-Variable.woff2’) format(‘woff2’);
		
}