.equipage{
    background-color: $fondEquipage;
    @include padding;
    &__title{
        @include title;
        text-align: right;
        color: $fondAgence;
        padding-bottom: 2rem;
    }
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        width: 80vw;      
        gap: 15vw;
    }
}
/* Card Equipage */

.card{
    background-color: $fontFooter;
    border : 1px solid $cardBleu;
    width: 30vw;
    
    &__title{
        color: $fondAgence;
    }
    &__description{
        color: $fondAgence;
    }
    &:hover{
        background-color: $cardBleu;
        &__title{
            color: $fontFooter;
        }
        &__description{
            color: $fontFooter;
        }
    }
}